<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd 
                     http://www.springframework.org/schema/tx 
                     http://www.springframework.org/schema/tx/spring-tx.xsd 
                     http://www.springframework.org/schema/aop 
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="daoTemplate" abstract="true" lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="jdbcTemplate" abstract="true" lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MenuDAO" class="com.wyq.hf.dao.MenuDAOImpl"
		parent="daoTemplate" />
	<bean id="UserinfoDAO" class="com.wyq.hf.dao.UserinfoDAOImpl"
		parent="daoTemplate" />
	<bean id="RoleinfoDAO" class="com.wyq.hf.dao.RoleinfoDAOImpl"
		parent="daoTemplate" />
	<bean id="PayoutinfoDAO" class="com.wyq.hf.dao.PayoutinfoDAOImpl"
		parent="daoTemplate" />
	<bean id="IncomeinfoDAO" class="com.wyq.hf.dao.IncomeinfoDAOImpl"
		parent="daoTemplate" />
	<bean id="FinanceinfoDAO" class="com.wyq.hf.dao.FinanceinfoDAOImpl"
		parent="daoTemplate" />
	<bean id="DebitcreditinfoDAO" class="com.wyq.hf.dao.DebitcreditinfoDAOImpl"
		parent="daoTemplate" />
</beans>